.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}
.addexpensedetails{
background-color:#756767 !important ;
}
.dark-mode{
  background-color: #333 !important;
  color: #cecece !important;
}

.navbar {
  height: 12vh;
  background-color: #364051;
  color: white;
}

.navbar .navbar-wrapper {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
}

.navbar .navbar-wrapper h3 {
  cursor: pointer;
}

/* Expense Details */
.expensedetails {
  height: 250px;
  /* color: black; */
  /* background-color: #f7f7f7; */
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #1c88bf;
  font-size: 18px;
  color: white;
}
.expense-content .add-expense-btn:hover {
  cursor: pointer;
}
/* Filter form */
.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid cyan;
  padding: 0 10px;
  font-size: 18px;
}

.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  /* color: #313131; */
  margin: 18px 0;
  border: 1px solid #ddd;
  padding: 15px;
}

.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}
/* form */
form{
  width: 60%;
  padding: 30px;
}
form .form-box{
  margin: 10px 0;
}
form .form-box input{
  outline: none;
  width: 100%;
  padding: 8px 3px;

}
form  button{
  margin: none;
  border: none;
  outline: none;
  padding: 10px 12px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(31, 95, 124);
}
.heading{
  height: 85px;
  /* background-color: #ccc; */
}
.heading h2{
  margin-left: 30pxs;
}
