.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}
.addexpensedetails{
background-color:#756767 !important ;
}
.dark-mode{
  background-color: #0D1117 !important;
  color: #cecece !important;
}

.navbar {
  height: 80px;
  background-color: #161B22;
  color: white;
}

.navbar .navbar-wrapper {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
}

.navbar .navbar-wrapper h3 {
  cursor: pointer;
}

/* Expense Details */
.expensedetails {
  height: 250px;
  margin: 0 10px;
  border-bottom: 1px solid #ccc;

  /* color: black; */
  /* background-color: #f7f7f7; */
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #1c88bf;
  font-size: 18px;
  border: 1px solid #ccc;
  color: white;
}
.expense-content .add-expense-btn:hover {
  cursor: pointer;
}
/* Filter form */
.filter-content {
  display: flex;
  justify-content: space-between;
}
input{
  border: 1px solid #ccc;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid cyan;
  padding: 0 10px;
  font-size: 18px;
}

.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  /* color: #313131; */
  margin: 18px 0;
  border: 1px solid #ddd;
  padding: 15px;
}

.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}
/* form */
form{
  width: 60%;
  padding: 30px;
}
form .form-box{
  margin: 10px 0;
}
form .form-box input{
  outline: none;
  width: 100%;
  padding: 8px 3px;

}
form  button{
  margin: none;
  border: none;
  outline: none;
  padding: 10px 12px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(31, 95, 124);
}
.heading{
  height: 85px;
  /* background-color: #ccc; */
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
.heading h2{
  margin-left: 30pxs;
}
li{
  list-style: none;
}
.setting1{
  display: flex;
  justify-content: space-between;
}
.setting-left{
  padding: 10px 0;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.setting-left .profile{
  border: 1px solid #ccc ;
}
.setting-left li:hover{
  background-color: rgb(66, 63, 63);
  cursor: pointer;
}

.setting-left li{
  padding: 5px;
  /* border-bottom: 1px solid #ccc; */
}
.formprofile{
  width: 500px;
}
.formprofile input{
  outline: none;
  border: none;
  padding: 0 6px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px 0;
}
.theme{
  width: 250px;
}
.theme ul li{
  width: 100%;
  padding: 6px 4px;
  margin: 5px;
  background-color: rgb(143, 137, 137);
    border: 1px solid #ccc;

}
.theme ul li:hover{
background-color: #ccc;
cursor: pointer;
}
.theme1{
  /* background-color: #363c44 !important; */
  color: #f3acac !important;
}
.theme2{
  color: #691e1e !important;

}
.theme3{
  color: #1c88bf !important;
}
.theme4{
  color: #0c58bb !important;
}